/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 @import "bootstrap-sprockets"
 @import "bootstrap"

 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require toastr
 */

 .custom_thumbnail {
	position: relative;
	height: 250px;
	overflow: hidden;

	img {
		min-height:200px; height:200px;
		width:920px
		max-width: 920px; //only set this if using Twitter Bootstrap
		position: absolute;
		left:50%;
		margin-left: -460px; //half of the image size
	}
}
